body {
  background-color: rgb(233, 230, 230);
  margin: 0;
  padding: 0;
  font-family: 'Taviraj', serif !important;
}

header.header {
  background-color: brown;
  color: #fff;
  padding: 1px;
}


header.article-header,
h1,
p {
  text-align: center;
}

section {
  float: left;
  width: 14%;
  padding-left: 289px;
}

footer.article-footer {
  clear: both;
}

footer.article-footer>p {
  text-align: right;
}

footer.footer {
  clear: both;
  background-color: brown;
  color: #fff;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

article.bio {
  background-color: rgb(245, 208, 0);
  margin: 20px;
  border-radius: 15px;
}

article.like {
  background-color: cornflowerblue;
  margin: 20px;
  border-radius: 15px;
  float: left;
  width: 97%;
}

.name-group {
  padding: 10px;
}

.cubs {
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.boder-left {
  border-left: 5px solid black;
  height: 400px;
}

p.text-left {
  text-align: left;
  color: #fff;
  padding-left: 22px;
}

.likeordont {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

ol li {
  color: #fff;
}